<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TechnoService36.com</title>
    <link rel="icon" type="image/x-icon" href="/static/lgwb.png">
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Sofia+Sans+Condensed:wght@1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <div class="c70">
        <a href="/" class="linked2">
            <div class="street">
                <div class="lg1">Techno</div>
                <div class="lg2">Service</div>
                <div class="lg1">36</div>
                <div class="lg2">.com</div>
            </div>
        </a>
        <a class="linked" href="/">Список мастеров</a>
        <a class="linked" href="/order">Прайс лист</a>  
        <a class="linked" href="/">Отзывы</a> 
        </div>  
    </div>
    <div class="poiskovik">
        <div class="blackout">
        <center><h1 class="headerpoisk">Заказать обслуживание компьютерной техники</h1></center>
        <div class="c70"><form>
            <div class="street poisk">
                
                <select id="выбор" name="phone2" required>
                    <option value="вариант1">Выберите дату приезда мастера</option>
                    <option value="вариант2">26 апреля 2024</option>
                    <option value="вариант2">27 апреля 2024</option>
                    <option value="вариант2">28 апреля 2024</option>
                    <option value="вариант2">29 апреля 2024</option>
                  </select>
                  <select id="выбор2" name="phone3" required>
                    <option value="вариант1">Выберите количество единиц техники</option>
                    <option value="вариант2">1</option>
                    <option value="вариант3">2</option>
                    <option value="вариант3">3</option>
                    <option value="вариант3">4</option>
                  </select>
                    <input type="text" placeholder="Ваш номер телефона" id="phone" name="phone" required>
                    <button type="submit" class="btnpoisk">Записаться</button>
                  </form>  
            </div>
        </div>
        </div>
    </div>
    <div class="offers">
        <div class="service">
            <img src="/static/p1.jpg" alt="Ремонт Ноутбука">
            <h2>Ремонт Ноутбука</h2>
            <p>Стоимость: от 1500 р.</p>
            <p>Время: от 4 ч.</p>
            <a href="/calc" class="order-btn">Заказать</a>
        </div>
        <div class="service">
            <img src="/static/p2.jpg" alt="Ремонт Планшета">
            <h2>Ремонт Планшета</h2>
            <p>Стоимость: от 2000 р.</p>
            <p>Время: от 3 ч.</p>
            <a href="/calc" class="order-btn">Заказать</a>
        </div>
        <div class="service">
            <img src="/static/p3.jpg" alt="Ремонт Компьютера">
            <h2>Ремонт Компьютера</h2>
            <p>Стоимость: от 800 р.</p>
            <p>Время: от 1 ч.</p>
            <a href="/calc" class="order-btn">Заказать</a>
        </div>
        <div class="service">
            <img src="/static/p4.jpg" alt="Ремонт Телевизора">
            <h2>Ремонт Телевизора</h2>
            <p>Стоимость: от 3000 р.</p>
            <p>Время: от 2 ч.</p>
            <a href="/calc" class="order-btn">Заказать</a>
        </div>
    </div>
</body>
</html>
